<div id="contain">
  <div id="header">
    <div class="header-overlay"></div>
    <div class="innerHeader">
      <div class="logo-circle">
        <div class="logo-text">KF</div>
      </div>
      <h1>Kyle Fraser</h1>
      <h2>Front-End Web Developer creating the future of the web one pixel perfect design at a time.</h2>
      <div id="main-button" class="button">
        <p>Read More</p>
      </div>
    </div>
  </div>
  <div id="intro">
    <div class="innerIntro">
      <h1>Let's build something that's never been done before.</h1>
      <h2>Hello. It's nice to meet you.</h2>
      <p>I like to make things come to life. Together we can create amazing products capable of changing someone's life. In today's fast paced interactive world, I'm constantly asking myself, "How can I engage and inspire people to want to try something?" </p>
      <p>I'm looking for a team that is willing to think unconventionally, to have the courage to be the first to try new things. I'm looking for positive free thinkers who don't conform to the trends, but who decide to walk their own path. Uncertainty gives rise to creativity, creativity generates exciting new ways of finding a solution. </p>
      <p>Let's pave the way for a better, more innovative future.   </p>
    </div><a href="#">
      <div class="button">
        <p>View Toolkit</p>
      </div></a>
  </div>
  <div id="work">
    <div class="innerWork">
      <h1>Examples of projects I've worked on:</h1>
      <% Project.all.each do |project| %>
      <div class="workSquare"><%= image_tag project.image %>
        <%= link_to project do %><div class="case-button button">
          <p><%= project.project_title %></p>
        </div><% end %>
        <div class="workSquare-text-container">
          <h1><%= project.title_short %></h1>
          <h3><%= project.description %></h3>
        </div>
      </div>
      <div class="workSquare"><img src="http://placehold.it/475x425">
        <div class="case-button button">
          <p>Case Study</p>
        </div>
        <div class="workSquare-text-container">
          <h1>Orange</h1>
          <h3>This is an example project of my previous work. This is an example project of my previous work.</h3>
        </div>
      </div>
      <div class="workSquare"><img src="http://placehold.it/475x425">
        <div class="case-button button">
          <p>Case Study</p>
        </div>
        <div class="workSquare-text-container">
          <h1>Orange</h1>
          <h3>This is an example project of my previous work.</h3>
        </div>
      </div>
      <div class="workSquare"><img src="http://placehold.it/475x425">
        <div class="case-button button">
          <p>Case Study</p>
        </div>
        <div class="workSquare-text-container">
          <h1>Orange</h1>
          <h3>This is an example project of my previous work.</h3>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="about">
    <div class="tree-container"><i aria-hidden="true" class="dirigo fa fa-tree"></i></div>
    <div class="innerAbout">
      <h1>My inspiration comes from the environment. My environment is the wilderness.</h1>
      <p>I'm a web developer from the great state of Maine. I find inspiration in the mountains, the sea, and the people that surround me. When I'm not coding I'm outside - hiking, biking, in or on the water, and always looking for that next adventure. I'm a student of life and always learning new skills, hobbies, and pursuing my interests. My goals are to use my talents and creative energy to help others. I believe in the relationship between mind, body, and spirit and strive to excel. I expect to be challenged and am ready to tackle what lies ahead. Let's do something meaningful. Let's do something great.</p>
      <h4>Camo is my favorite color</h4>
    </div>
  </div>
  <div id="skills">
    <div class="innerSkills">
      <h2>Tools of the trade:</h2>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>Git</li>
        <li>Wordpress</li>
        <li>Bootstrap</li>
        <li>Angular (Beginner)</li>
      </ul>
      <ul>
        <li>Atom</li>
        <li>Sublime</li>
        <li>Transmit</li>
        <li>Slack</li>
        <li>Mobile</li>
        <li>Adaptive & Responsive</li>
        <li>Roots</li>
        <li>Photoshop</li>
      </ul>
    </div>
  </div>
  <div id="contact">
    <div class="contact-overlay"></div>
    <div class="innerContact">
      <h1>Let's talk about the next big thing.</h1>
      <div class="social-container"><i class="social-icon fa fa-envelope fa-4x"></i><i class="social-icon fa fa-twitter fa-4x"></i><i class="social-icon fa fa-facebook fa-4x"></i><i class="social-icon fa fa-github fa-4x"></i><i class="social-icon fa fa-linkedin fa-4x"></i></div>
    </div>
  </div>
  <div id="footer">
    <h4>Made in Maine <i aria-hidden="true" class="fa fa-tree"></i></h4>
  </div>
</div>
